#modal {
  background-color: whitesmoke;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.Recipe-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
.Recipe-header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.Recipe-information {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.Recipe-ingredients {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.Recipe-instructions {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
@media (max-width: 1030px) {
  .Recipe-layout {
    grid-gap: 0;
  }
  .Recipe-header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .Recipe-information {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }
  .Recipe-ingredients {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
  .Recipe-instructions {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }
}

