/* You can add global styles to this file; and also import other style files */
html,
body {
    margin: 0;
    padding: 0;
}

body,
input {
    font-family: sans-serif;
    background-color: white;
    color: black;
}

select,
button {
    box-shadow: black 0 0 3px;
    background-color: white;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    width: 100%;
}

.clickable {
    cursor: pointer;
}