.filters {
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .filters {
        grid-template-columns: repeat(1, 1fr);
    }
}

.filter {
    margin: .5rem 0;
    padding: 0 1rem;
}
