.recipes {
    list-style-type: none;
    display: grid;
    grid-gap: .75rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}

@media (max-width: 768px) {
    .recipes {
        grid-template-columns: repeat(1, 1fr);
    }
}

a {
    text-decoration: none;
}

.recipe {
    padding: 0;
    margin: 0;
}

h2 {
    box-shadow: black 0 0 3px;
    border-radius: .5rem;
    background-color: white;
    color: black;
    text-align: center;
    padding: 2rem;
    margin: 0;
}

.search-area {
    background-color: white;
    margin: 0 0 .75rem 0;
    border-radius: .5rem;
    box-shadow: black 0 0 3px;

    display: grid;
    grid-template-columns: 3.5rem 1fr;
}

.search-area img {
    width: 3.5rem;
}

.search-bar {
    border-radius: .5rem;
    height: 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    padding: .5rem 0;
    margin: 0;
}

.search-bar:focus {
    outline: none;
}

.filters {
    grid-column-start: 1;
    grid-column-end: 3;
  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
    .filters {
        grid-template-columns: repeat(1, 1fr);
    }
}

.filter {
    margin: .5rem 0;
    padding: 0 1rem;
}

.hidden {
    display: none;
}

.button-area {
    margin: 0;
    padding: 0; 
    border: 0;
    background-color: transparent;
}
