.Categories {
  margin: 1rem;
  border-radius: 5px;
  padding: 1rem;
  background-color: darkolivegreen;
  color: white;
}

@media (max-width: 768px) {
  .Categories {
    margin: 0px;
    border-radius: 0px;
    padding: 2rem;
    background-color: darkolivegreen;
    color: white;
  }
}