:root {
  --spacing: .75rem;
  --border-radius: .75rem;
  --color-background: whitesmoke;
  --color-panel: #FFFFFF;
  --color-primary: #000000;
  --color-theme: #00304E; 
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #121212;
    --color-panel: #363636;
    --color-primary: #FFFFFF;
  }
}
*/
html, body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: var(--color-background);
  color: var(--color-primary);
  padding: 0;
  margin: 0;
}
main {
  max-width: 768px;
  margin: auto;
  padding: 0 var(--spacing) var(--spacing) var(--spacing);
}
a {
  color: var(--color-primary);
}
input, select, button {
  margin-top: var(--spacing);
}
.logo {
  max-width: 3rem;
}

.searchBar {
  margin: 0 0 var(--spacing) 0;
  box-shadow: var(--color-primary) 0 0 3px;
  border-radius: var(--border-radius);
  background-color: var(--color-panel);
  
  display: grid;
  grid-template-columns: 3.5rem 1fr;
}
.searchBar input {
  background-color: var(--color-panel);
  color: var(--color-primary);
  border-radius: var(--border-radius);
  border: none;
  padding: var(--spacing) 0;
  margin: 0;
}
.searchBar input:focus {
  outline: none;
}

/*
  CardList
*/
.cards a {
  text-decoration: none;
}
.card {
  background-color: var(--color-panel);
  box-shadow: var(--color-primary) 0 0 3px;
  border-radius: var(--border-radius);
  text-align: center;
  padding: var(--spacing);
}
.card:hover {
  box-shadow: var(--color-primary) 0 0 6px;
}
/*
  Grid Setup
*/
.cards {
  display: grid;
  grid-gap: var(--spacing);
  grid-template-columns: repeat(2, 1fr);
}
.categories {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: var(--spacing);

  display: grid;
  grid-gap: var(--spacing);
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
