html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, sans-serif;
  background-color: whitesmoke;
  color: black;
}
main {
  max-width: 768px;
  margin: 0 auto;
  padding: .75rem;
}
main a {
  color: black;
}
select, button {
  box-shadow: black 0 0 3px;
  background-color: white;
  border: none;
  border-radius: .5rem;
  padding: .5rem;
  width: 100%;
}

/*
 * Search Criteria
 */
.searchCriteria {
  background-color: white;
  margin: 0 0 .75rem 0;
  border-radius: .5rem;
  box-shadow: black 0 0 3px;

  display: grid;
  grid-template-columns: 3.5rem 1fr;
}
.searchCriteria img {
  width: 3.5rem;
}
.searchBar {
  border-radius: .5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  padding: .5rem 0;
  margin: 0;
}
.searchBar:focus {
  outline: none;
}
.categories {
  grid-column-start: 1;
  grid-column-end: 3;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
  }
}
.category {
  margin: .5rem 0;
  padding: 0 1rem;
}

/*
 * Search Results
 */
.cards {
  display: grid;
  grid-gap: .75rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cards a {
  text-decoration: none;
}
.card {
  box-shadow: black 0 0 3px;
  border-radius: .5rem;
  background-color: white;
  text-align: center;
  padding: 1rem;
}
.card:hover {
  box-shadow: black 0 0 6px;
}
