svg {
  user-select: none;
}

html, body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
}

header {
  padding: 0;
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: #00304E;
  box-shadow: black 0px 5px 20px;
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
}
header svg {
  stroke: white;
}
header input {
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  margin: .75rem 0;
}
header img {
  height: 3rem; 
  margin: auto;
}

main {
  max-width: 768px;
  margin: auto;
  padding: 4.75rem .5rem;
}

.grid {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid a {
  color: black;
  text-decoration: none;
}
.sidebar {
  position: fixed;
  top:0;
  left:0;
  height: 100vh;
  width: 80%;
  max-width: 350px;
  overflow: auto;
  background-color: #00304E;
  color: white;
}
.sidebar svg {
  stroke: white;
  height: 4rem;
}
.sidebar-content {
  margin: 1rem;
}
.sidebar a {
  color: white;
  text-decoration: none;
}

.selectable {
  border-radius: .5rem;
  box-shadow: #00304E 0 0 3px;
}
.selectable:hover {
  box-shadow: #00304E 0 0 10px;
}

.button, .text-box {
  margin: .5rem 0;
  padding: 1rem 1rem;
  font-size: 1rem;
  border-radius:2px;
  border: none;
  background-color: #00304E;
  color: white;
}
