.Recipes-layout {
  display: grid;
  margin: 1rem;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .Recipes-layout {
    grid-template-columns: repeat(1, 1fr);
  }
}
