.searchArea {
  padding-left: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 30px) 25fr;
  margin: 0 0 1rem 0;
  color: #00304E;
}

.searchArea svg {
  stroke: #00304E;
  padding-top: 8px;
}
.searchArea svg polygon {
  stroke-width: 4;
}

.searchArea input {
  border: 2px solid #00304E;
  height: 2.5em;
  font-size: 1em;
  padding-left: 10px;
}

.categories-modal {
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 80%;
  max-width: 350px;
  padding: 1rem;
  overflow: auto;
  background-color: #00304E;
  color: white;
}

.cookbook-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1024px) {
  .cookbook-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .cookbook-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

